.container.mt-5
  .row.justify-content-center
    .col-lg-10
      .card.shadow-lg.rounded-4
        .card-body
          %h2.text-center.mb-4 Datos personales del adoptante

          %p.text-muted.text-center
            Por favor, completá este formulario con tus datos reales. Esto nos permite conocerte mejor y asegurarnos de que cada mascota tenga un hogar ideal.

          = render 'form'
